{% extends 'ParametreBundle::index.html.twig' %}
{% block content %}
	<div class="slider-wrapper theme-default banner">
		<div id="banner">
			<img src="{{ asset('bundles/parametre/images/INSTRUCTION.jpg') }}" alt="" />
		</div>
	</div>
			
	<div id="contenu">
		<section id="application" class="">
			<div class="row">
				<div class="large-2 columns">
					<img src="{{ asset('bundles/parametre/images/QR_CODE.bmp') }}" alt="" />
					<img src="{{ asset('bundles/parametre/images/BIJOU2.jpg') }}" alt="" />
				</div>
				<div class="large-10 columns">
					<h3>LE PASS SANTE+MOUSSO: Un bijou d'identification médicale à code QR</h3>
					<p class="text-justify">Sur les bijoux vous avez un code QR qui est relié à votre fiche d’identification SANTE+MOUSSO. Lorsqu’il est scanné avec un Smartphone, les informations que vous avez inscrites s’affichent. Vous pouvez modifier vos informations en tout temps, ce qui permet à l’intervenant d’avoir vos informations à jours et intervenir de façon plus précise.
Cette solution, c’est un bijou 2 en 1 : un bracelet ou un pendentif  d’identification médicale à code QR. C’est aussi un accessoire tendance, pensé par une équipe de concepteur désireux d’apporter des solutions innovantes en Afrique.
Que vous soyez trop jeune pour expliquer votre pathologie ou bien dans l’incapacité physique de le faire, votre bijou d’identification médicale permet de communiquer vos antécédents médicaux (allergies, diabète, Asthme, Epilepsie, …) et informations médicales (groupe sanguin, traitement encours…).
Le PASS SANTE+MOUSSO  allie discrétion et style grâce à une large gamme. Il  est un concept novateur car aucun autre bijou d’identification ne vous donne l'opportunité de faire des mises à jour : d'ajouter, modifier et supprimer vos informations sans être changer. 
					</p>
				</div>
			</div>
		</section>

		<section id="prestation" class="">
			<div class="row">
				<div class="large-10 columns">
					<h3>LE PASS SANTE+MOUSSO : Tranquilité d'esprit - esprit tendance !</h3>
					<p class="text-justify">Le bijou d’identification médicale à code QR permettra à l'intervenant d’effectuer une prise en charge médicale rapide et de contacter vos proches afin de les avertir de votre situation.  Ce qui réduira considérablement le délai de communication entre les services d'urgence et la famille. C’est une source de tranquillité d’esprit, un véritable soulagement !
					</p>
				</div>
				<div class="large-2 columns">
					<img src="{{ asset('bundles/parametre/images/BIJ.jpg') }}" alt="" />
				</div>
			</div>
		</section>

		<section id="application" class="">
			<div class="row">
				<div class="large-2 columns">
					<img src="{{ asset('bundles/parametre/images/BIJOU1.jpg') }}" alt="" />
				</div>
				<div class="large-10 columns">
					<h3>LE PASS SANTE+MOUSSO : Joli, résistant, tendance et surtout indispensable</h3>
					<p class="text-justify">Un bijou d’identification médicale à code QR n’est pas un bijou quelconque ! Il est bien plus qu’un accessoire de mode, il doit remplir sa fonction. Portez-le partout et à tout moment : au bureau, en vacances à la plage, pendant votre jogging, à l’école ou en tenue de soirée !
					</p>
				</div>
			</div>
		</section>

		<section id="prestation" class="">
			<div class="row">
				<div class="large-12 columns">
					<h3>LE PASS SANTE+MOUSSO : Un call center accessible 24H</h3>
					<p class="text-justify">Le numéro de la ligne d’urgence est inscrit sur le bracelet et accessible 24h sur 24h, 7 jours sur 7 pour l’intervenant qui est dans l’impossibilité d’accéder à vos informations au moyen du code QR. À partir du numéro d’identification inscrit sur le bracelet, nous pourrons lui donner les informations à distance. 
					</p>
				</div>
			</div>
		</section>

		<section id="application" class="">
			<div class="row">
				<div class="large-12 columns">
					<h3>LE PASS SANTE+MOUSSO : Une solution efficace</h3>
					<p class="text-justify">Nos produits sont sécuritaires, faciles d'utilisation, efficaces dans tous les pays et sans aucun frais annuel, ni d'activation.
					</p>
				</div>
			</div>
		</section>

		<section id="prestation" class="">
			<div class="row">
				<div class="large-12 columns">
					<h3>LE PASS SANTE+MOUSSO : Un back-up pluridimensionnel</h3>
					<p class="text-justify">Notre solution permettra de :</p>
					<ul>
						<li>Faire une classification des affections des femmes</li>
						<li>Sortir des statistiques </li>
						<li>Base de donnée citoyenne car la collecte d’information est faite par la population elle-même</li>
					<ul>
				</div>
			</div>
		</section>
{% endblock %}