<section class="our-services section-padding">
    <div class="container">
        <div class="section-title">
            <h2>{{ 'home.section.presentation.section0.title' | trans }}</h2> <br><br><br>
            <p>
                {{ 'home.section.presentation.section0.content' | trans | raw }}
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 col-xs-12">
                <div class="box-service firt-block orng-box-icon wow fadeInUp">
                    <span class="fa fa-question fa-spin-hover"></span>
                    <h6>
                        {{ 'home.section.presentation.section1.title' | trans }}
                    </h6>
                    {{ 'home.section.presentation.section1.description' | trans }}:
                    {{ 'home.section.presentation.section1.content' | trans | raw }}
                </div>
            </div>

            <div class="col-md-6 col-12 col-xs-12">
                <div class="box-service firt-block orgwani-box-icon">
                    <span class="fa fa-qrcode fa-spin-hover"></span>
                    <h6>
                        {{ 'home.section.presentation.section2.title' | trans }}
                    </h6>
                    {{ 'home.section.presentation.section2.content' | trans | raw }}
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-12 col-xs-12">
                <div class="box-service second-block  blue-box-icon wow fadeInUp">
                    <span class="fa fa-check fa-spin-hover"></span>
                    <h6>
                        {{ 'home.section.presentation.section3.title' | trans }}
                    </h6>
                    {{ 'home.section.presentation.section3.content' | trans | raw }}
                </div>
            </div>
            <div class="col-md-6 col-12 col-xs-12">
                <div class="box-service second-block green-box-icon">
                    <span class="fa fa-heart fa-spin-hover"></span>
                    <h6>
                        {{ 'home.section.presentation.section4.title' | trans }}
                    </h6>
                    {{ 'home.section.presentation.section4.n_content' | trans | raw }}
                </div>
            </div>
        </div>
    </div>
</section>